extends ./common

block content
	h1 Create user
	form(action="/createStudent", method="POST")
		.form-group
		label(for="mssv") MSSV
			input#mssv.form-control(name="fullname", type="text", value=values ? values.fullname : "")
		.form-group
		label(for="hoten") Ho Ten
			input#hoten.form-control(name="age", type="text",value=values ? values.age : "")
		.form-group
		label(for="makhoa") Ma Khoa
			input#makhoa.form-control(name="address", type="text",value=values ? values.address : "")
		button.btn.btn-primary Create